/* 
colors
blue: #368ABD
red: #F05D5E
lightgrey: #E7ECEF
darkgrey: #272932
tan: #D8A47F
*/

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #368ABD;
    font-family: 'Lato', sans-serif;
}

#main {
  margin: auto;
  width: 50%;
  background-color: #E7ECEF;
  padding-bottom: 20px;
}

#viewDiv {
  padding: 2px;
  margin: auto;
  height: 500px;
  width: 75%;
  text-align: center;
  background-color: white;
  border: #F05D5E 3px solid;
  border-radius: 10px;
}

nav {
  background-color: #272932;
  text-align: center;
  color: #E7ECEF;
  /* position: fixed;
  width: 100%; */
}

nav h1 {
  display: inline-block;
  font-size: 26px;
}

#getKey {
  margin: 10px;
}

textarea::placeholder {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
  padding-top: 90px;
}

#top {
  text-align: center;
  /* padding-top: 50px; */
}

#inputs {
  margin: auto;
  /* margin-top: 25px; */
  display: inline-block;
  text-align: center;
  width: 90%;
}

#address-in {
  width: 75%;
  height: 200px;
  padding: 10px;
  margin-top: 3px;
}

#api-in {
  width: 40%;
  text-align: center;
  padding: 7px;
  margin-top: 3px;
}

#api-form {
  margin-bottom: 10px;
}

.text-in {
  border: #F05D5E 2px solid;
  border-radius: 10px;
}

.text-out {
  border: #F05D5E 2px solid;
  border-radius: 10px;
}

#outputs {
  margin-top: 35px;
  margin-bottom: 20px;
  text-align: center;
}

#latlon-out {
  width: 85%;
  height: 200px;
  padding: 5px;
  margin-top: 3px;
}

.header {
  margin-bottom: 2px;
  font-family: sans-serif;
}

#submit-button {
  margin-top: 2px;
  background-color: #F05D5E;
  border: 2px solid #F05D5E;
  color: #272932;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
}

#submit-button:hover {
  background-color: #ea8181;
}

.pg-titl-bdr-btm {
  border: 0;
  border-top: 2px solid #D8A47F;
  width: 75px;
}

#complete {
  margin-top: 20px;
  margin-bottom: 20px;
}

#showOnMapCheck {
  margin: 20px 0;
}

#showOnMapBox {
  width: 20px;
  height: 20px;
  background-color: #368ABD;
  vertical-align: middle;
  position: relative;
  bottom: 3px;
}

#showOnMapLabel {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}